<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDisplayName</key>
		<string>HalalHub Restaurant</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleName</key>
		<string>halal_hub_resto</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
		<!-- Internet Security -->
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<false/>
		</dict>
		<!-- Permissions -->
		<key>NSCameraUsageDescription</key>
		<string>This app uses camera for uploading images.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This app allows selecting photos to upload.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>This app saves selected media when needed.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app uses microphone while recording videos.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>This app uses your location to improve services.</string>
		<key>GMSApiKey</key>
		<string>$(MAPS_API_KEY)</string>
		<!-- Push Notification -->
		<key>UIBackgroundModes</key>
		<array>
			<string>remote-notification</string>
		</array>
		<!-- App UIDeviceFamily -->
		<key>UIDeviceFamily</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<!-- Launch -->
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<!-- Orientation -->
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
	</dict>
</plist>
